<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875651930056-35m541m9n9tkq4m0cng0p61a93g3cs6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875651930056-35m541m9n9tkq4m0cng0p61a93g3cs6c</string>
	<key>API_KEY</key>
	<string>AIzaSyBugUG5bvzpxNTFuXA_RRcu2cUqnwx8kJo</string>
	<key>GCM_SENDER_ID</key>
	<string>875651930056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.journalApp4</string>
	<key>PROJECT_ID</key>
	<string>journal-app-203e0</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-app-203e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875651930056:ios:d66976d351c2de8e6d52fd</string>
</dict>
</plist>